.loginContainer{
    background-image: url(https://infobeans-design-system.web.app/images/login-bg.png);
    height: 100%;
    width: 100%;
  
}
header{
    background-color:black
}
.headerText{
    color:#d8d7d7 ;
    font-weight: bold;
}
.menuIcon{
    float: right
}
footer{
    color:#d8d7d7;
    text-align: center;
}
.bodyContent{
    background-color: white;
   
}
.logo{
    text-align: center;
}
.forgotPassword{
    color: red; 
    text-decoration: none;
    margin-left: 175px;
}
.slideshow-container {
    position: relative;
    background: white;
    scroll-behavior: smooth;
}


.mySlides {
    display: none;
    padding: 80px;
    text-align: center;
}


.festival{
    color:red
}


.card-holidays{
background: #fff;
box-shadow: 0px 2px 8px rgb(0 0 0 / 20%);
text-align: center;
width: 100%;
padding: 40px 0 10px;
height: 100%;
}
.btn1{
    text-align: center;
    width: 307px;
}
